<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <h3>Student information</h3>
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Roll</th>
        <th>City</th>
        <th>Marks</th>
        <th>Passing Year</th>
        </tr>
        <tr>
            
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.roll}}</td>
            <td>{{student.city}}</td>
            <td>{{student.marks}}</td>
            <td>{{student.pass_date}}</td>
            
        </tr>
    </table>
</body>
</html>